*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #009688;
    font-size: 90%;
    font-family: 'Courier New', Courier, monospace;
}
body > p{
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
showcase{
    width: 100%;
    text-align: center;
    color: white;
 }
form{ 
     width: 100%; 
} 
.container{
    max-width: 300px;
width: 70%;
padding: 15px 8px;
margin: 20px auto;
overflow: hidden;
z-index: 1;
border-radius: 5px;
display: none;
background-color:/* #80CBC4 */white;
}
.container > p{
    text-align: center;
}
input,
input[type=password]{
    padding: 10px 5px;
    margin: 8px 0;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input:valid{
    border-color: green;
}
input:-webkit-autofill
{ -webkit-box-shadow:0 0px 1000px white inset;}

.cancelbtn{
 background-color: whitesmoke;
 color: black;
 border-radius: 0 3px 3px 0;
}

.signupbtn{
background-color: #009688;
color: white;
border-radius: 3px 0 0 3px;
}
.signupbtn, .cancelbtn{
    border: none;
    padding: 15px 0;
    width: 50%;
    float: left;
    margin: 15px 0 0 0;
    font-size: bold;
}
.regiter{
    width: 120px;
    margin: 25px auto;
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 20px;
}


.register button{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: whitesmoke;
    color: black;
}